<!DOCTYPE html>
<html lang="en">
  <% include template/head %>
  <body>
    <% include template/nav %>
    <div class="container">
      <div class="row">Blank page</div>
    </div>
  </body>
</html>
